<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>G64 Reads</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <a href="/">
        <img id="logo" width="110px" height="80px" src="./bookLogo.png" alt="an open book">
        <h1>Galvanize Reads</h1>
      </a>
    </header>
    <div id="dataSection">
      <div id="authorSection">
        <a href="/authors">
          <div id="homeAuthorData">
            {{#each authorData}}
              <div class="homeAuthor">
                <img class="authorPic" src="{{portrate_url}}" alt="{{firstName}} {{lastName}}">
              </div>
            {{/each}}
          </div>
        </a>
        <h3>Authors</h3>
      </div>
      <div id="bookSection">
        <a href="/books">
          <div id="homeBookData">
            {{#each bookData}}
              <div class="homeBooks">
                <img class="bookCovers" src="{{cover_url}}" alt="{{title}}">
              </div>
            {{/each}}
          </div>
        </a>
        <h3>Books</h3>
      </div>
    </div>
  </body>
</html>
