<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>G64 Reads</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <img id="logo" width="110px" height="80px" src="./bookLogo.png" alt="an open book">
      <h1>Galvanize Reads</h1>
    </header>
    <div id="dataSection">
      <div id="bookSection">
        <div id="homeBookData">
          {{#each bookData}}
            <div class="homeBooks">
              <img class="bookCovers" src="{{cover_url}}" alt="{{title}}">
              <div class="homeBookInfo">
                <h4>Title: {{title}}</h4>
                <h5>Genre: {{genre}}</h5>
                <!-- <p>{{desc}}</p> -->
              </div>
            </div>
          {{/each}}
        </div>
        <h3>Books</h3>
      </div>
    </div>
  </body>
</html>
