<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>G64 Reads: Author</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/">
        <img id="logo" width="110px" height="80px" src="/bookLogo.png" alt="an open book">
        <h1>Galvanize Reads</h1>
      </a>
    </header>
    <div id="activeBody">
      <nav>
        <a href="/authors">Authors</a>
        <a href="/books">Books</a>
      </nav>
      <div id="authorArea">
        {{#if data}}
            <div class="homeAuthor">
              <img class="authorPic" src="{{data.portrate_url}}" alt="{{data.firstName}} {{data.lastName}}">
              <div class="authorInfo">
                <span style="display: flex; flex-direction: row">
                  <h3>{{data.name}}</h3>
                  <a href="/authors/{{authorId}}/edit"><img alt="edit" src="/edit.png" style="width: 50px; height: 50px;    position: absolute;
                  right: 30%; background-color: tomato"></a>
                  <a href="/authors/{{authorId}}/delete"><img src="http://www.pvhc.net/img5/nnzeoijzleeiilchqmlc.png" style="width: 50px; height: 50px;    position: absolute;
                  right: 20%; background-color: tomato" alt="delete"></a>
                </span>
                <p> {{data.bio}} </p>
                <h5>Books</h5>
                <p>{{data.books}} </p>
              </div>
            </div>
        {{/if}}

      </div>
    </div>
  </body>
</html>
